version: 2

updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: weekly
    target-branch: main
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
    groups:
      rust-minor-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    target-branch: main
    open-pull-requests-limit: 3
    labels:
      - "ci"
      - "dependencies"
    groups:
      actions-minor-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: weekly
    target-branch: main
    open-pull-requests-limit: 3
    labels:
      - "ci"
      - "dependencies"
    groups:
      docker-minor-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch